@model Book
@{
    ViewData["Title"] = "Edit Book";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-left">
    <form asp-controller="Books" asp-action="Edit" method="post">
        <div class="form-group">   
            <label asp-for="BookId"> </label>
            <input type="hidden" asp-for="BookId" class="form-control" /> <br />
        </div>  
        <div class="form-group">   
            <label asp-for="Title"> </label>
            <input asp-for="Title" class="form-control" /> <br />
        </div>  
        <div class="form-group">      
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" /> <br />
        </div>
        <div class="form-group">      
            <label asp-for="Year"></label>
            <input type="number" asp-for="Year" class="form-control" /> <br />
        </div> 
        <div class='text-center'>  
        <button type="submit">Save</button>  
        </div>       
    </form>
</div>